.services__container {
  row-gap: 2rem;
  padding-block: 1rem;
}
.services__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}
.services__icon {
  display: block;
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: 0.75rem;
}

.services__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}
.services__card:hover {
  border: 2px solid var(--first-color);
}
