.home {
  background-color: var(--container-color);
}
.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}
.home__content {
  display: grid;
  row-gap: 2rem;
}
.home__data {
  text-align: center;
}
.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}
.home__subtitle span,
.home__title {
  color: var(--first-color);
}
.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}
.home__description {
  margin-block: 1rem 1.5rem;
}
.home__social {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.home__social-link {
  display: flex;
  background-color: var(--first-color);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}
.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}
.home__image defs image {
  transform: translate(-66px, -91px);
}
