.contact__container {
  padding-top: 1rem;
}
.contact__form,
.contact__group {
  display: grid;
  row-gap: 1rem;
}
.contact__form {
  position: relative;
}
.contact__input {
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background-color: var(--container-color);
  color: var(--title-color);
}
.contact__input::placeholder {
  color: var(--text-color);
}
.contact__form textarea {
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}
.contact__button {
  justify-self: center;
  cursor: pointer;
}
.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}
